.tourPics1,
.tourPics2,
.tourPics3,
.tourPics4,
.tourPics5,
.tourPics6,
.tourPics7,
.tourPics8,
.tourPics9 {
  @include div-images();
  @include image-sizes();
  text-align: center;
  padding-top: 37px;

  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 37px;
  }
}

.tourPics1 {
  background-image: $image-color, url(../images/tour/tour-01.jpg);
}
.tourPics2 {
  background-image: $image-color, url(../images/tour/tour-02.jpg);
}
.tourPics3 {
  background-image: $image-color, url(../images/tour/tour-03.jpg);
}
.tourPics4 {
  background-image: $image-color, url(../images/tour/tour-04.jpg);
}
.tourPics5 {
  background-image: $image-color, url(../images/tour/tour-05.jpg);
}
.tourPics6 {
  background-image: $image-color, url(../images/tour/tour-06.jpg);
}
.tourPics7 {
  background-image: $image-color, url(../images/tour/tour-07.jpg);
}
.tourPics8 {
  background-image: $image-color, url(../images/tour/tour-08.jpg);
}
.tourPics9 {
  background-image: $image-color, url(../images/tour/tour-09.jpg);
}

.israel-img1,
.israel-img2,
.israel-img3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.israel-img1 {
  background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
}
.israel-img2 {
  background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
}
.israel-img3 {
  background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
}
